$mainBg: #f08080;
$navBg: #1d2226;
$inputBg: #00ffff;
$btnBg: #bdb76b;
* {
  font-family: monospace;
}

.navbar {
  background: $navBg;
}

.app {
  height: 100vh;
  background: $mainBg;
  color: black;
  font-weight: bold;
  font-size: 25px;
  /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_overflow */
  overflow: scroll;
  display: flex;

  .btn {
    border: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 20px;
    width: 70px;
    background: $btnBg;
    color: black;
    font-weight: 700;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      /* Transparent Image */
      opacity: 0.9;
    }
  }

  .world-container {
    padding: 20px 10px;
    .world-form {
      .input-item {
        input {
          padding: 10px;
          border-radius: 20px;
          border: none;
          background: $inputBg;
          margin-right: 10px;
          color: black;
          font-size: 1.2em;
          min-width: 300px;
        }
      }
    }
    .worlds {
      padding-top: 30px;
      .world-item {
        padding: 5px 10px;
        background: $inputBg;
        margin: 10px 0;
        border-radius: 50px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .team-container {
    padding: 10px;
    .players-item {
      padding: 5px 10px;
      background: $inputBg;
      margin: 10px 0;
      border-radius: 50px;
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // p {
      //   /* line on the text */
      //   // text-decoration: line-through;
      //   opacity: 0.5;
      // }
    }
  }
}
